<div id="flickr_photo">
    <p class="flickr_image">
      <a href="<%= small_photo[:photo_page_url] %>">
      <img src="<%= small_photo[:medium_img_url] %>" title="<%= small_photo[:title] %>" />
      </a>
    </p>
</div>