<html>
<head>
	<title>Starkast</title>
	<link href="/index.css" media="screen" rel="Stylesheet" type="text/css" />
	<link href="/footer.css" media="screen" rel="Stylesheet" type="text/css" />
</head>

<body>

<div id="container">

<div class="wrapper">

<% @events.each do |event| %>

<h1>
  <a href="/<%= get_attr("id", event) %>">
    <%= get_short_title(event) %>
  </a>
</h1>

<% end %>

</div>
<div class="footer">

<script language="JavaScript"><!--
var name = "kontakt";
var domain = "starkast.net";
document.write('<p><a href=\"mailto:' + name + '@' + domain + '\">');
document.write(name + '@' + domain + '</a></p>');
// --></script>

</div></div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7734426-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
